# Compose
COMPOSE_PROJECT_NAME=igniter-provider

# Nextjs
NODE_ENV="production"
LOG_LEVEL="info"

# Temporal.io
TEMPORAL_URL="temporal:7233"
TEMPORAL_NAMESPACE="provider"
TEMPORAL_TASK_QUEUE="provider-operations"
TEMPORAL_WORKFLOW_RETENTION="604800"

# Postgresql
PGHOST="postgresql"
PGUSER="igniter"
# Must match POSTGRES_PASSWORD in dependencies/.env
PGPASSWORD=""
DB_NAME="provider"
DATABASE_URL="postgres://${PGUSER}:${PGPASSWORD}@${PGHOST}:5432/${DB_NAME}?sslmode=disable"

# Used on worker/workflows to deliver txs
# Set the proper one for the right network. You can use your own or one of the public ones:
# https://dev.poktroll.com/category/explorers-faucets-wallets-and-more
POKT_RPC_URL="https://shannon-testnet-grove-rpc.beta.poktroll.com" # Beta Network

DELEGATORS_CDN_URL="https://raw.githubusercontent.com/stake-igniter/governace/refs/heads/main/{chainId}/middleman.json"
AUTH_TRUST_HOST="http://localhost:3001"
APP_URL="http://localhost:3001"
AUTH_URL="http://localhost:3001"
CHAIN_ID="pocket-beta"
BLOCKCHAIN_PROTOCOL="shannon"
# Pocket Network Wallet address that will be used to login into the admin website
OWNER_IDENTITY="CHANGEME"
OWNER_EMAIL="change-this@example.com"
MINIMUM_STAKE_BUFFER="500000000"

# How to get it? `openssl rand -hex 16` (database private key storage encryption)
ENCRYPTION_IV="CHANGEME"
# How to get it? `openssl rand -hex 32` (database private key storage encryption)
ENCRYPTION_KEY="CHANGEME"
# How to get it? `openssl rand -hex 24` (website session encryption)
AUTH_SECRET="CHANGEME"
# Pocket Network (shannon) private key (sign responses to middleman)
APP_IDENTITY="CHANGEME"
