services:
  provider-migration:
    image: "ghcr.io/stake-igniter/provider:latest"
    container_name: provider-migration
    restart: "no"
    command: [ "pnpm", "provider:migration:migrate" ]
    networks:
      - igniter
    env_file:
      - .env

  provider-web:
    image: "ghcr.io/stake-igniter/provider:latest"
    container_name: provider-web
    networks:
      - igniter
    env_file:
      - .env
    depends_on:
      provider-migration:
        condition: service_completed_successfully
    ports:
      - "127.0.0.1:3001:3001"

  provider-workflows:
    image: "ghcr.io/stake-igniter/provider-workflows:latest"
    container_name: provider-workflows
    networks:
      - igniter
    env_file:
      - .env
    depends_on:
      provider-migration:
        condition: service_completed_successfully

networks:
  # IMPORTANT:
  # Please make sure you start first docker-compose.yaml at the 'dependencies' folder.
  igniter:
    name: igniter
    external: true
